---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Ashanth R
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      Hi! My name is Ashanth and I'm a <strong>Computer Engineering</strong> student based in Toronto.
      I developed this website to store the things I've learned about <strong>Software Engineering</strong>
      from basic commands and cheatsheets to full blown guides that I can access from anywhere.
    </p>
  </div>
</section>
